<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Python Forex Converter</title>
</head>
<body>
    <div class="container">
    <h1>Python Forex Converter</h1>
    <section class="container" id="errors">
        {% if errors %}
        {% for error in errors %}
        <div class="error">{{error}}</div>
        {% endfor %}
        {% endif %}
    </section>
    <form class="container" action="/convert">
        <div class="form-container">
        <label for="convert-from">Converting from: </label>
        <input class = "form-control form-content" type="text" name="convert_from" id="convert-from">
        </div>
        <div class="form-container">   
        <label for="convert-to">Converting to: </label>
        <input class = "form-control form-content" type="text" name="convert_to" id="convert-to">
        </div>
        <div class="form-container">
        <label for="amount">Amount: </label>
        <input class = "form-control form-content" type="number" name="amount" id="amount">
        </div>
        <div>
        <button class="btn btn-primary">Convert</button>
        </div>
    </form>
    {% if converted_value %}
    <div id="converted-value">
        <div>Converted Value {{amount}} {{convert_from}} - {{convert_to}}: {{currency_symbol}} {{converted_value}}</div>
    </div>
    {% endif %}
    </div>
</body>
</html>